{% extends "base.html" %}

{% block title %}Patient Dashboard{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <h4><i class="bi bi-person"></i> Patient Dashboard</h4>
                </div>
                <div class="card-body">
                    <h5>Welcome, {{ session.name }}!</h5>
                    <p>You are logged in as a patient.</p>
                    
                    <div class="alert alert-success mt-4">
                        <i class="bi bi-check-circle"></i> Your registration is complete. Your doctor will be able to access your medical information in our secure system.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 